%p#notice= notice
%h1 Invites
%table.table
  %thead.thead-dark
    %tr
      %th.col{:colspan => "3"}
  %tbody
    - @invites.each do |invite|
      %tr
        %td.row= invite.email
        %td= link_to "Approve ", approve_path({id: invite.id}), remote: true, method: :post
        %td= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'Home', root_path
