<p id="notice"><%= notice %></p>

<h1>Hearings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hearings.each do |hearing| %>
      <tr>
        <td><%= link_to 'Show', hearing %></td>
        <td><%= link_to 'Edit', edit_hearing_path(hearing) %></td>
        <td><%= link_to 'Destroy', hearing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hearing', new_hearing_path %>
