%h1 Предложение для администрации 
%h2=@administartion.name
%h1 Город 
%h2=@city.name

%table.table
  %thead.thead
    %td
      %tr.col{colspan: "4"}
      %th Название
      %th Почта пользователя
      %th Подтвердить
      %th Отклонить
  %tbody
    - @suggestions.each do |suggestion|
      %tr.col{colspan: '4'}
        %td= suggestion.title
        %td= suggestion.user.email
        %td
          -if suggestion.reason.nil? and !suggestion.approve
            %button.btn.btn-primary{onclick: "approve_suggestion(#{suggestion.id})" ,type: "button", 'data-suggestion_id': "#{suggestion.id}"} Approve
          -elsif suggestion.approve
            Подтверждено
          -else
            %p Причина отклонения:
            =suggestion.reason
        %td
          -if suggestion.approve
            %p -
          -else
            %button.btn.btn-primary{onclick: "reject_suggestion(#{suggestion.id})" ,type: "button", 'data-suggestion_id': "#{suggestion.id}"} Reject
%br/
= link_to 'Home', root_path
