%h4
  %span Предложения для администрации "
  %strong=@administartion.name
  %span " город
  %span=@city.name

%table.table{ :class => 'mb-5'}
  %thead.thead
    %td
      %tr.col{colspan: "4"}
      %th Название
      %th Почта пользователя
      %th Подтвердить
      %th Отклонить
  %tbody
    - @suggestions.each do |suggestion|
      %tr.col{colspan: '4'}
        %td= suggestion.title
        %td= suggestion.user.email
        %td
          -if suggestion.reason.nil?
            %button.btn.btn-primary{onclick: "approve_suggestion(#{suggestion.id})" ,type: "button", 'data-suggestion_id': "#{suggestion.id}"} Approve
          -else
            %p Причина отклонения:
            =suggestion.reason
        %td
          -if suggestion.reason.nil?
            %button.btn.btn-primary{onclick: "reject_suggestion(#{suggestion.id})" ,type: "button", 'data-suggestion_id': "#{suggestion.id}"} Reject
