<p id="notice"><%= notice %></p>
<h1>
  <div class="row">
    <div class="border border-primary border-top-0 border-left-0 border-right-0 col-6">
      <%= @suggestion.title %>
    </div>
  </div>
</h1>
<h5>
  Дата создания: <%= @suggestion.created_at.to_time.strftime('%R %d/%m/%Y') %>
</h5>

<p><%= @suggestion.description.html_safe %></p>

<%= form_with(url: "/rate", method: "post") do |f|%>
  <% i = 1 %>
  <% while i < 11 do %>
    <input type="radio" name="amount" value="<%= i %>" class="star" />
    <% i+=1 %>
  <% end %>

  <%= f.hidden_field :active_suggestion_id, :value => @suggestion.id %>
  <%= f.submit "Оценить", :class => "btn btn-primary" %>
<% end %>
<h2>
  <span class="badge badge-danger">
    <%= @average %>
  </span>
</h2>
<h3>
  <%= link_to 'Edit', edit_active_suggestion_path(@suggestion), class: "badge badge-dark" %> |
  <%= link_to 'Back', suggestions_path, class: "badge badge-dark" %>
</h3>
<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://rayonchik.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            