<!DOCTYPE html>
<html>
  <head>
    <title>Rayonchik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <nav class="mt-1">
    <h1> Место для рекламы </h1>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if current_user&.admin? %>
          <li class="nav-item active">
            <%= link_to 'Администрация', current_user.administration, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Список пользователей', current_user, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Голосование', votes_path, class: "nav-link" %>
          </li>
        <% end %>
        <% if current_user.nil? %>
          <li class="nav-item">
            <a class="badge badge-info mr-sm-2" href="<%=new_user_registration_path%>"> Подать заявку <span class="sr-only btn">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="badge badge-info mr-sm-5" href="<%=new_user_session_path%>"> Войти <span class="sr-only btn">(current)</span></a>
          </li>
        <% end %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">
      <% flash.each do |name, message| %>
        <div class="alert <%= bootstrap_class_for(name) %>">
          <button class="close" data-dismiss="alert">&times;</button>
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p>This template built for <a href="github.com/PFdev6/Rayonchik">Rayonchik</a> by <a href="https://github.com/Squarix">PFdev6 & Squarix</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/p.." integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
