<!DOCTYPE html>
<html>
  <head>
    <title>Rayonchik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <nav class="nav">
      <div class="collapse navbar-collapse" id="navbarNav">
        <% if current_user.admin? %>
          <%= link_to 'Администрация', current_user.administration, class: "nav-link" %>
          <%= link_to 'Список пользователей', current_user, class: "nav-link" %>
          <%= link_to 'Голосование', votes_path, class: "nav-link" %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |name, message| %>
        <div class="alert <%= bootstrap_class_for(name) %>">
          <button class="close" data-dismiss="alert">&times;</button>
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/p.." integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
